<!-- SECTION ABOUT_ME -->
<section class="section">
    <div class="container">

        <div class="about-section">
            <div class="about-text-container">
                <h2 class="visually-hidden">ABOUT ME</h2>
                <p class="about-content">
                    I WORK WITH PEOPLE ALL OVER THE WORLD TO CREATE IMPRESSIVE AND <span
                        class="about-accent-word">FUNCTIONAL</span> <span class="about-word">WEBSITES</span> THAT REFLECT
                    EACH CLIENT'S UNIQUE PERSONALITY.
                </p>
            </div>

            <picture>
                <source srcset="./img/about-me/about-me-des1x.jpg, 
                                ./img/about-me/about-me-des2x.jpg 2x
                        " media="(min-width: 1440px)" />

                <source srcset="./img/about-me/about-me-tab1x.jpg, 
                                ./img/about-me/about-me-tab2x.jpg 2x
                        " media="(min-width: 768px)" />

                <source srcset="./img/about-me/about-me-mob1x.jpg, 
                                ./img/about-me/about-me-mob2x.jpg 2x
                        " media="(max-width: 375px)" />

                <img class="about-img" loading ="lazy" src="./img/about-me/about-me.jpg" alt="My photo">
            </picture>
        </div>

        <div class="about-accordion-container">
            <ul class="accordion-container">
                <li class="about-accordion-item" >
                    <div class="about-accordion-header">
                        <h3 class="section-title ">ABOUT ME</h3>
                        <button type="button" class ="about-accordion-btn">
                        <svg class="about-ac-svg" width="18" height="18">
                        <use href="./img/symbol-defs.svg#icon-acord-open"></use>
                        </svg>
                        </button>
                    </div>
        
                    <div class="about-ac-panel">
                        <p class="about-ac-text">I am Lloyd Jefferson, a talented programmer with extensive expertise in software
                        development. I have an understanding of different programming languages and technologies, always
                        ready to improve my skills. I always follow the latest trends and look for unconventional, creative
                        solutions to problems. I have a high level of analytical skills and am able to effectively solve
                        even the most difficult tasks encountered on the way.</p>

                        <p class="about-ac-text">Able to work both independently and in a team. I can effectively cooperate with colleagues,
                        exchanging ideas and finding optimal solutions. Professionalmaturity allows you to calmly cope with
                        challenges and stressful situations, while maintaining a highquality of work. I am always looking
                        for opportunities for self-improvement. I actively study newtechnologies and practices to stay
                        abreast of the latest innovations. I have a strong understandingof various programming languages,
                        frameworks and architectural concepts that allow me to createefficient and scalable software.</p>
                    </div>
                </li>

                <li class="about-accordion-item">
                    <div class="about-accordion-header">
                        <h3 class="section-title">ROLE</h3>
                        <button type="button" class="about-accordion-btn">
                            <svg class="about-ac-svg" width="18" height="18">
                                <use href="./img/symbol-defs.svg#icon-acord-open"></use>
                            </svg>
                        </button>
                    </div>
    
                    <div class="about-ac-panel">
                        <p class="about-ac-text">Frontend development</p>
                        <p class="about-ac-text">HeadlessCMS,Wordpress</p>
                        <p class="about-ac-text">Blender(enjoy)</p>
                    </div>
                </li>

                <li class="about-accordion-item">
                    <div class="about-accordion-header">
                        <h3 class="section-title">DUCATION</h3>
                        <button type="button" class="about-accordion-btn">
                            <svg class="about-ac-svg" width="18" height="18">
                            <use href="./img/symbol-defs.svg#icon-acord-open"></use>
                            </svg>
                        </button>
                    </div>
    
                    <div class="about-ac-panel">
                        <p class="about-ac-text">2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York</p>
                        <p class="about-ac-text">2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New York</p>
                        <p class="about-ac-text">B2020 - 2022 / Advanced Blender Animation Techniques, Udemy</p>
                    </div>
                </li>       
            </ul>
        </div>
    </div>
</section>
