<h2 class="visually-hidden">Covers</h2>

<!-- <link href="https://fonts.googleapis.com/css?family=Pridi:600" rel="stylesheet"> -->

<div class="content">
    <div class="marquee">
        <div class="marquee__inner">
            <div class="marquee__line"><img
                    srcset="/src/img/covers/Rectangle61.jpg 1x, /src/img/covers/Rectangle62.jpg 2x"
                    src="/src/img/covers/Rectangle61.jpg" alt="Project 1"></div>
            <div class="marquee__line"><img
                    srcset="/src/img/covers/Rectangle51.jpg 1x, /src/img/covers/Rectangle52.jpg 2x"
                    src="/src/img/covers/Rectangle51.jpg" alt="Project 2"></div>
            <div class="marquee__line"><img
                    srcset="/src/img/covers/Rectangle41.jpg 1x, /src/img/covers/Rectangle42.jpg 2x"
                    src="/src/img/covers/Rectangle41.jpg" alt="Project 3"></div>
            <div class="marquee__line"><img
                    srcset="/src/img/covers/Rectangle3.jpg 1x, /src/img/covers/Rectangle4.jpg 2x"
                    src="/src/img/covers/Rectangle3.jpg" alt="Project 4"></div>
            <div class="marquee__line"><img
                    srcset="/src/img/covers/Rectangle1.jpg 1x, /src/img/covers/Rectangle2.jpg 2x"
                    src="/src/img/covers/Rectangle1.jpg" alt="Project 5"></div>
            <div class="marquee__line"><img srcset="/src/img/covers/photo1.jpg 1x, /src/img/covers/photo2.jpg 2x"
                    src="/src/img/covers/photo1.jpg" alt="Project 6"></div>
            <div class="marquee__line"><img
                    srcset="/src/img/covers/Rectangle71.jpg 1x, /src/img/covers/Rectangle72.jpg 2x"
                    src="/src/img/covers/Rectangle71.jpg" alt="Project 7"></div>
            <div class="marquee__line"><img
                    srcset="/src/img/covers/Rectangle81.jpg 1x, /src/img/covers/Rectangle82.jpg 2x"
                    src="/src/img/covers/Rectangle81.jpg" alt="Project 8"></div>
            <div class="marquee__line"><img
                    srcset="/src/img/covers/Rectangle91.jpg 1x, /src/img/covers/Rectangle92.jpg 2x"
                    src="/src/img/covers/Rectangle91.jpg" alt="Project 9"></div>
            <div class="marquee__line"><img srcset="/src/img/covers/first11.jpg 1x, /src/img/covers/first12.jpg 2x"
                    src="/src/img/covers/first11.jpg" alt="Project 10"></div>
        </div>

        <div class="marquee__inner">
            <div class="marquee__line"><img
                    srcset="/src/img/covers/Rectangle71.jpg 1x, /src/img/covers/Rectangle72.jpg 2x"
                    src="/src/img/covers/Rectangle71.jpg" alt="Project 7"></div>
            <div class="marquee__line"><img
                    srcset="/src/img/covers/Rectangle81.jpg 1x, /src/img/covers/Rectangle82.jpg 2x"
                    src="/src/img/covers/Rectangle81.jpg" alt="Project 8"></div>
            <div class="marquee__line"><img
                    srcset="/src/img/covers/Rectangle91.jpg 1x, /src/img/covers/Rectangle92.jpg 2x"
                    src="/src/img/covers/Rectangle91.jpg" alt="Project 9"></div>
            <div class="marquee__line"><img srcset="/src/img/covers/first11.jpg 1x, /src/img/covers/first12.jpg 2x"
                    src="/src/img/covers/first11.jpg" alt="Project 10"></div>
            <div class="marquee__line"><img
                    srcset="/src/img/covers/Rectangle61.jpg 1x, /src/img/covers/Rectangle62.jpg 2x"
                    src="/src/img/covers/Rectangle61.jpg" alt="Project 1"></div>
            <div class="marquee__line"><img
                    srcset="/src/img/covers/Rectangle51.jpg 1x, /src/img/covers/Rectangle52.jpg 2x"
                    src="/src/img/covers/Rectangle51.jpg" alt="Project 2"></div>
            <div class="marquee__line"><img
                    srcset="/src/img/covers/Rectangle41.jpg 1x, /src/img/covers/Rectangle42.jpg 2x"
                    src="/src/img/covers/Rectangle41.jpg" alt="Project 3"></div>
            <div class="marquee__line"><img
                    srcset="/src/img/covers/Rectangle3.jpg 1x, /src/img/covers/Rectangle4.jpg 2x"
                    src="/src/img/covers/Rectangle3.jpg" alt="Project 4"></div>
            <div class="marquee__line"><img
                    srcset="/src/img/covers/Rectangle1.jpg 1x, /src/img/covers/Rectangle2.jpg 2x"
                    src="/src/img/covers/Rectangle1.jpg" alt="Project 5"></div>
            <div class="marquee__line"><img srcset="/src/img/covers/photo1.jpg 1x, /src/img/covers/photo2.jpg 2x"
                    src="/src/img/covers/photo1.jpg" alt="Project 6"></div>
        </div>

        <div class="marquee__inner">
            <div class="marquee__line"><img
                    srcset="/src/img/covers/Rectangle3.jpg 1x, /src/img/covers/Rectangle4.jpg 2x"
                    src="/src/img/covers/Rectangle3.jpg" alt="Project 4"></div>
            <div class="marquee__line"><img
                    srcset="/src/img/covers/Rectangle1.jpg 1x, /src/img/covers/Rectangle2.jpg 2x"
                    src="/src/img/covers/Rectangle1.jpg" alt="Project 5"></div>
            <div class="marquee__line"><img srcset="/src/img/covers/photo1.jpg 1x, /src/img/covers/photo2.jpg 2x"
                    src="/src/img/covers/photo1.jpg" alt="Project 6"></div>
            <div class="marquee__line"><img
                    srcset="/src/img/covers/Rectangle71.jpg 1x, /src/img/covers/Rectangle72.jpg 2x"
                    src="/src/img/covers/Rectangle71.jpg" alt="Project 7"></div>
            <div class="marquee__line"><img
                    srcset="/src/img/covers/Rectangle61.jpg 1x, /src/img/covers/Rectangle62.jpg 2x"
                    src="/src/img/covers/Rectangle61.jpg" alt="Project 1"></div>
            <div class="marquee__line"><img
                    srcset="/src/img/covers/Rectangle51.jpg 1x, /src/img/covers/Rectangle52.jpg 2x"
                    src="/src/img/covers/Rectangle51.jpg" alt="Project 2"></div>
            <div class="marquee__line"><img
                    srcset="/src/img/covers/Rectangle41.jpg 1x, /src/img/covers/Rectangle42.jpg 2x"
                    src="/src/img/covers/Rectangle41.jpg" alt="Project 3"></div>
            <div class="marquee__line"><img
                    srcset="/src/img/covers/Rectangle81.jpg 1x, /src/img/covers/Rectangle82.jpg 2x"
                    src="/src/img/covers/Rectangle81.jpg" alt="Project 8"></div>
            <div class="marquee__line"><img
                    srcset="/src/img/covers/Rectangle91.jpg 1x, /src/img/covers/Rectangle92.jpg 2x"
                    src="/src/img/covers/Rectangle91.jpg" alt="Project 9"></div>
            <div class="marquee__line"><img srcset="/src/img/covers/first11.jpg 1x, /src/img/covers/first12.jpg 2x"
                    src="/src/img/covers/first11.jpg" alt="Project 10"></div>
        </div>
    </div>
</div>