<section class="covers section">
        <div class="container">

                <h2 class="visually-hidden">Covers</h2>


                <div class="content">
                        <div class="marquee">
                                <div class="marquee-inner">
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover4.jpg 1x, ./img/covers/cover4@2x.jpg 2x"
                                                        src="./img/covers/cover4.jpg" alt="Project 4"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover7.jpg 1x, ./img/covers/cover7@2x.jpg 2x"
                                                        src="./img/covers/cover7.jpg" alt="Project 7"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover1.jpg 1x, ./img/covers/cover1@2x.jpg 2x"
                                                        src="./img/covers/cover1.jpg" alt="Project 1"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover2.jpg 1x, ./img/covers/cover2@2x.jpg 2x"
                                                        src="./img/covers/cover2.jpg" alt="Project 2"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover3.jpg 1x, ./img/covers/cover3@2x.jpg 2x"
                                                        src="./img/covers/cover3.jpg" alt="Project 3"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover5.jpg 1x, ./img/covers/cover5@2x.jpg 2x"
                                                        src="./img/covers/cover5.jpg" alt="Project 5"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover6.jpg 1x, ./img/covers/cover6@2x.jpg 2x"
                                                        src="./img/covers/cover6.jpg" alt="Project 6"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover8.jpg 1x, ./img/covers/cover8@2x.jpg 2x"
                                                        src="./img/covers/cover8.jpg" alt="Project 8"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover9.jpg 1x, ./img/covers/cover9@2x.jpg 2x"
                                                        src="./img/covers/cover9.jpg" alt="Project 9"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover10.jpg 1x, ./img/covers/cover10@2x.jpg 2x"
                                                        src="./img/covers/cover10.jpg" alt="Project 10"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover4.jpg 1x, ./img/covers/cover4@2x.jpg 2x"
                                                        src="./img/covers/cover4.jpg" alt="Project 4"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover7.jpg 1x, ./img/covers/cover7@2x.jpg 2x"
                                                        src="./img/covers/cover7.jpg" alt="Project 7"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover1.jpg 1x, ./img/covers/cover1@2x.jpg 2x"
                                                        src="./img/covers/cover1.jpg" alt="Project 1"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover2.jpg 1x, ./img/covers/cover2@2x.jpg 2x"
                                                        src="./img/covers/cover2.jpg" alt="Project 2"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover3.jpg 1x, ./img/covers/cover3@2x.jpg 2x"
                                                        src="./img/covers/cover3.jpg" alt="Project 3"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover5.jpg 1x, ./img/covers/cover5@2x.jpg 2x"
                                                        src="./img/covers/cover5.jpg" alt="Project 5"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover6.jpg 1x, ./img/covers/cover6@2x.jpg 2x"
                                                        src="./img/covers/cover6.jpg" alt="Project 6"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover8.jpg 1x, ./img/covers/cover8@2x.jpg 2x"
                                                        src="./img/covers/cover8.jpg" alt="Project 8"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover9.jpg 1x, ./img/covers/cover9@2x.jpg 2x"
                                                        src="./img/covers/cover9.jpg" alt="Project 9"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover10.jpg 1x, ./img/covers/cover10@2x.jpg 2x"
                                                        src="./img/covers/cover10.jpg" alt="Project 10"></div>
                                </div>

                                <div class="marquee-inner">
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover4.jpg 1x, ./img/covers/cover4@2x.jpg 2x"
                                                        src="./img/covers/cover4.jpg" alt="Project 4"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover7.jpg 1x, ./img/covers/cover7@2x.jpg 2x"
                                                        src="./img/covers/cover7.jpg" alt="Project 7"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover8.jpg 1x, ./img/covers/cover8@2x.jpg 2x"
                                                        src="./img/covers/cover8.jpg" alt="Project 8"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover9.jpg 1x, ./img/covers/cover9@2x.jpg 2x"
                                                        src="./img/covers/cover9.jpg" alt="Project 9"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover10.jpg 1x, ./img/covers/cover10@2x.jpg 2x"
                                                        src="./img/covers/cover10.jpg" alt="Project 10"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover1.jpg 1x, ./img/covers/cover1@2x.jpg 2x"
                                                        src="./img/covers/cover1.jpg" alt="Project 1"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover2.jpg 1x, ./img/covers/cover2@2x.jpg 2x"
                                                        src="./img/covers/cover2.jpg" alt="Project 2"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover3.jpg 1x, ./img/covers/cover3@2x.jpg 2x"
                                                        src="./img/covers/cover3.jpg" alt="Project 3"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover5.jpg 1x, ./img/covers/cover5@2x.jpg 2x"
                                                        src="./img/covers/cover5.jpg" alt="Project 5"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover6.jpg 1x, ./img/covers/cover6@2x.jpg 2x"
                                                        src="./img/covers/cover6.jpg" alt="Project 6"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover4.jpg 1x, ./img/covers/cover4@2x.jpg 2x"
                                                        src="./img/covers/cover4.jpg" alt="Project 4"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover7.jpg 1x, ./img/covers/cover7@2x.jpg 2x"
                                                        src="./img/covers/cover7.jpg" alt="Project 7"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover8.jpg 1x, ./img/covers/cover8@2x.jpg 2x"
                                                        src="./img/covers/cover8.jpg" alt="Project 8"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover9.jpg 1x, ./img/covers/cover9@2x.jpg 2x"
                                                        src="./img/covers/cover9.jpg" alt="Project 9"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover10.jpg 1x, ./img/covers/cover10@2x.jpg 2x"
                                                        src="./img/covers/cover10.jpg" alt="Project 10"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover1.jpg 1x, ./img/covers/cover1@2x.jpg 2x"
                                                        src="./img/covers/cover1.jpg" alt="Project 1"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover2.jpg 1x, ./img/covers/cover2@2x.jpg 2x"
                                                        src="./img/covers/cover2.jpg" alt="Project 2"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover3.jpg 1x, ./img/covers/cover3@2x.jpg 2x"
                                                        src="./img/covers/cover3.jpg" alt="Project 3"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover5.jpg 1x, ./img/covers/cover5@2x.jpg 2x"
                                                        src="./img/covers/cover5.jpg" alt="Project 5"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover6.jpg 1x, ./img/covers/cover6@2x.jpg 2x"
                                                        src="./img/covers/cover6.jpg" alt="Project 6"></div>
                                </div>

                                <div class="marquee-inner">
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover6.jpg 1x, ./img/covers/cover6@2x.jpg 2x"
                                                        src="./img/covers/cover6.jpg" alt="Project 6"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover5.jpg 1x, ./img/covers/cover5@2x.jpg 2x"
                                                        src="./img/covers/cover5.jpg" alt="Project 5"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover4.jpg 1x, ./img/covers/cover4@2x.jpg 2x"
                                                        src="./img/covers/cover4.jpg" alt="Project 4"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover7.jpg 1x, ./img/covers/cover7@2x.jpg 2x"
                                                        src="./img/covers/cover7.jpg" alt="Project 7"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover1.jpg 1x, ./img/covers/cover1@2x.jpg 2x"
                                                        src="./img/covers/cover1.jpg" alt="Project 1"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover2.jpg 1x, ./img/covers/cover2@2x.jpg 2x"
                                                        src="./img/covers/cover2.jpg" alt="Project 2"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover3.jpg 1x, ./img/covers/cover3@2x.jpg 2x"
                                                        src="./img/covers/cover3.jpg" alt="Project 3"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover9.jpg 1x, ./img/covers/cover9@2x.jpg 2x"
                                                        src="./img/covers/cover9.jpg" alt="Project 9"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover10.jpg 1x, ./img/covers/cover10@2x.jpg 2x"
                                                        src="./img/covers/cover10.jpg" alt="Project 10"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover8.jpg 1x, ./img/covers/cover8@2x.jpg 2x"
                                                        src="./img/covers/cover8.jpg" alt="Project 8"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover6.jpg 1x, ./img/covers/cover6@2x.jpg 2x"
                                                        src="./img/covers/cover6.jpg" alt="Project 6"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover5.jpg 1x, ./img/covers/cover5@2x.jpg 2x"
                                                        src="./img/covers/cover5.jpg" alt="Project 5"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover4.jpg 1x, ./img/covers/cover4@2x.jpg 2x"
                                                        src="./img/covers/cover4.jpg" alt="Project 4"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover7.jpg 1x, ./img/covers/cover7@2x.jpg 2x"
                                                        src="./img/covers/cover7.jpg" alt="Project 7"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover1.jpg 1x, ./img/covers/cover1@2x.jpg 2x"
                                                        src="./img/covers/cover1.jpg" alt="Project 1"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover2.jpg 1x, ./img/covers/cover2@2x.jpg 2x"
                                                        src="./img/covers/cover2.jpg" alt="Project 2"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover3.jpg 1x, ./img/covers/cover3@2x.jpg 2x"
                                                        src="./img/covers/cover3.jpg" alt="Project 3"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover9.jpg 1x, ./img/covers/cover9@2x.jpg 2x"
                                                        src="./img/covers/cover9.jpg" alt="Project 9"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover10.jpg 1x, ./img/covers/cover10@2x.jpg 2x"
                                                        src="./img/covers/cover10.jpg" alt="Project 10"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover8.jpg 1x, ./img/covers/cover8@2x.jpg 2x"
                                                        src="./img/covers/cover8.jpg" alt="Project 8"></div>
                                </div>

                                <div class="marquee-inner">
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover9.jpg 1x, ./img/covers/cover9@2x.jpg 2x"
                                                        src="./img/covers/cover9.jpg" alt="Project 9"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover3.jpg 1x, ./img/covers/cover3@2x.jpg 2x"
                                                        src="./img/covers/cover3.jpg" alt="Project 3"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover2.jpg 1x, ./img/covers/cover2@2x.jpg 2x"
                                                        src="./img/covers/cover2.jpg" alt="Project 2"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover7.jpg 1x, ./img/covers/cover7@2x.jpg 2x"
                                                        src="./img/covers/cover7.jpg" alt="Project 7"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover8.jpg 1x, ./img/covers/cover8@2x.jpg 2x"
                                                        src="./img/covers/cover8.jpg" alt="Project 8"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover10.jpg 1x, ./img/covers/cover10@2x.jpg 2x"
                                                        src="./img/covers/cover10.jpg" alt="Project 10"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover1.jpg 1x, ./img/covers/cover1@2x.jpg 2x"
                                                        src="./img/covers/cover1.jpg" alt="Project 1"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover4.jpg 1x, ./img/covers/cover4@2x.jpg 2x"
                                                        src="./img/covers/cover4.jpg" alt="Project 4"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover5.jpg 1x, ./img/covers/cover5@2x.jpg 2x"
                                                        src="./img/covers/cover5.jpg" alt="Project 5"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover6.jpg 1x, ./img/covers/cover6@2x.jpg 2x"
                                                        src="./img/covers/cover6.jpg" alt="Project 6"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover9.jpg 1x, ./img/covers/cover9@2x.jpg 2x"
                                                        src="./img/covers/cover9.jpg" alt="Project 9"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover3.jpg 1x, ./img/covers/cover3@2x.jpg 2x"
                                                        src="./img/covers/cover3.jpg" alt="Project 3"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover2.jpg 1x, ./img/covers/cover2@2x.jpg 2x"
                                                        src="./img/covers/cover2.jpg" alt="Project 2"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover7.jpg 1x, ./img/covers/cover7@2x.jpg 2x"
                                                        src="./img/covers/cover7.jpg" alt="Project 7"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover8.jpg 1x, ./img/covers/cover8@2x.jpg 2x"
                                                        src="./img/covers/cover8.jpg" alt="Project 8"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover10.jpg 1x, ./img/covers/cover10@2x.jpg 2x"
                                                        src="./img/covers/cover10.jpg" alt="Project 10"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover1.jpg 1x, ./img/covers/cover1@2x.jpg 2x"
                                                        src="./img/covers/cover1.jpg" alt="Project 1"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover4.jpg 1x, ./img/covers/cover4@2x.jpg 2x"
                                                        src="./img/covers/cover4.jpg" alt="Project 4"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover5.jpg 1x, ./img/covers/cover5@2x.jpg 2x"
                                                        src="./img/covers/cover5.jpg" alt="Project 5"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover6.jpg 1x, ./img/covers/cover6@2x.jpg 2x"
                                                        src="./img/covers/cover6.jpg" alt="Project 6"></div>
                                </div>

                                <div class="marquee-inner">
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover1.jpg 1x, ./img/covers/cover1@2x.jpg 2x"
                                                        src="./img/covers/cover1.jpg" alt="Project 1"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover7.jpg 1x, ./img/covers/cover7@2x.jpg 2x"
                                                        src="./img/covers/cover7.jpg" alt="Project 7"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover8.jpg 1x, ./img/covers/cover8@2x.jpg 2x"
                                                        src="./img/covers/cover8.jpg" alt="Project 8"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover9.jpg 1x, ./img/covers/cover9@2x.jpg 2x"
                                                        src="./img/covers/cover9.jpg" alt="Project 9"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover10.jpg 1x, ./img/covers/cover10@2x.jpg 2x"
                                                        src="./img/covers/cover10.jpg" alt="Project 10"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover2.jpg 1x, ./img/covers/cover2@2x.jpg 2x"
                                                        src="./img/covers/cover2.jpg" alt="Project 2"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover3.jpg 1x, ./img/covers/cover3@2x.jpg 2x"
                                                        src="./img/covers/cover3.jpg" alt="Project 3"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover4.jpg 1x, ./img/covers/cover4@2x.jpg 2x"
                                                        src="./img/covers/cover4.jpg" alt="Project 4"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover5.jpg 1x, ./img/covers/cover5@2x.jpg 2x"
                                                        src="./img/covers/cover5.jpg" alt="Project 5"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover6.jpg 1x, ./img/covers/cover6@2x.jpg 2x"
                                                        src="./img/covers/cover6.jpg" alt="Project 6"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover1.jpg 1x, ./img/covers/cover1@2x.jpg 2x"
                                                        src="./img/covers/cover1.jpg" alt="Project 1"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover7.jpg 1x, ./img/covers/cover7@2x.jpg 2x"
                                                        src="./img/covers/cover7.jpg" alt="Project 7"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover8.jpg 1x, ./img/covers/cover8@2x.jpg 2x"
                                                        src="./img/covers/cover8.jpg" alt="Project 8"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover9.jpg 1x, ./img/covers/cover9@2x.jpg 2x"
                                                        src="./img/covers/cover9.jpg" alt="Project 9"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover10.jpg 1x, ./img/covers/cover10@2x.jpg 2x"
                                                        src="./img/covers/cover10.jpg" alt="Project 10"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover2.jpg 1x, ./img/covers/cover2@2x.jpg 2x"
                                                        src="./img/covers/cover2.jpg" alt="Project 2"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover3.jpg 1x, ./img/covers/cover3@2x.jpg 2x"
                                                        src="./img/covers/cover3.jpg" alt="Project 3"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover4.jpg 1x, ./img/covers/cover4@2x.jpg 2x"
                                                        src="./img/covers/cover4.jpg" alt="Project 4"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover5.jpg 1x, ./img/covers/cover5@2x.jpg 2x"
                                                        src="./img/covers/cover5.jpg" alt="Project 5"></div>
                                        <div class="marquee-line"><img loading="lazy"
                                                        srcset="./img/covers/cover6.jpg 1x, ./img/covers/cover6@2x.jpg 2x"
                                                        src="./img/covers/cover6.jpg" alt="Project 6"></div>
                                </div>
                        </div>
                </div>
        </div>

</section>