<section class="faq section" id="faq">
  <div class="container faq-container">
    <h2 class="faq-title section-title">FAQ</h2>
    <ul class="faq-list accordion-container">
      <li class="faq-item">
        <div class="faq-top-box">
          <h3 class="faq-item-title section-subtitle">
            What programming languages ​are most often used in your project?
          </h3>
          <button
            type="button"
            class="faq-btn faq-trigger"
            aria-label="Frequently Asked Question Languages"
          >
            <svg class="faq-btn-open" width="20" height="20">
              <use href="./img/symbol-defs.svg#icon-acord-open"></use>
            </svg>
          </button>
        </div>
        <div class="faq-panel faq-bottom-box">
          <p class="faq-text section-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="faq-item">
        <div class="faq-top-box">
          <h3 class="faq-item-title section-subtitle">
            What are the deadlines for the project?
          </h3>
          <button
            type="button"
            class="faq-btn faq-trigger"
            aria-label="Frequently Asked Question Deadlines"
          >
            <svg class="faq-btn-open" width="20" height="20">
              <use href="./img/symbol-defs.svg#icon-acord-open"></use>
            </svg>
          </button>
        </div>
        <div class="faq-panel faq-bottom-box">
          <p class="faq-text section-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>

      <li class="faq-item">
        <div class="faq-top-box">
          <h3 class="faq-item-title section-subtitle">
            What payment methods do you accept?
          </h3>
          <button
            type="button"
            class="faq-btn faq-trigger"
            aria-label="Frequently Asked Question Payment"
          >
            <svg class="faq-btn-open" width="20" height="20">
              <use href="./img/symbol-defs.svg#icon-acord-open"></use>
            </svg>
          </button>
        </div>
        <div class="faq-panel faq-bottom-box">
          <p class="faq-text section-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>

      <li class="faq-item">
        <div class="faq-top-box">
          <h3 class="faq-item-title section-subtitle">
            How can I contact you?
          </h3>
          <button
            type="button"
            class="faq-btn faq-trigger"
            aria-label="Frequently Asked Question Contact"
          >
            <svg class="faq-btn-open" width="20" height="20">
              <use href="./img/symbol-defs.svg#icon-acord-open"></use>
            </svg>
          </button>
        </div>
        <div class="faq-panel faq-bottom-box">
          <p class="faq-text section-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="faq-item">
        <div class="faq-top-box">
          <h3 class="faq-item-title section-subtitle">
            Do you provide advice or support?
          </h3>
          <button
            type="button"
            class="faq-btn faq-trigger"
            aria-label="Frequently Asked Question Support"
          >
            <svg class="faq-btn-open" width="20" height="20">
              <use href="./img/symbol-defs.svg#icon-acord-open"></use>
            </svg>
          </button>
        </div>
        <div class="faq-panel faq-bottom-box">
          <p class="faq-text section-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>

      <li class="faq-item">
        <div class="faq-top-box">
          <h3 class="faq-item-title section-subtitle">
            What does the process of developing a software product look like
            from idea to implementation?
          </h3>
          <button
            type="button"
            class="faq-btn faq-trigger"
            aria-label="Frequently Asked Question Developing"
          >
            <svg class="faq-btn-open" width="20" height="20">
              <use href="./img/symbol-defs.svg#icon-acord-open"></use>
            </svg>
          </button>
        </div>
        <div class="faq-panel faq-bottom-box">
          <p class="faq-text section-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
