<section class="section">
  <div class="container">
    <div class="hero-container">
      <div class="title">
      <h1 class="hero-title">Hello.<br>
        I’m Fullstack developer 
        Lloyd Jefferson.</h1>
      </div>
        <div>
        <ul class="hero-social">
          <li><a class="hero-link-ig" href="https://www.instagram.com/goitclub/">IG</a></li>
          <li><a class="hero-link-fb" href="https://www.facebook.com/goITclub/">FB</a></li>
          <li><a class="hero-link-yt" href="https://www.youtube.com/c/GoIT">YT</a></li>
          <li><a class="hero-link-gh" href="https://github.com/olha-bezklepchenko/project_JS-TechAchievers">GH</a></li>
          <li>
            <a class="hero-link-mail" href="mailto:lloydjefferson@gmail.com"
              >lloydjefferson@gmail.com</a
            >
          </li>
        </ul>
      </div>
  </div>
</section>
