<section class="hero">
  <div class="container hero-container">
    <div class="hero-content">
      <h1 class="hero-title">
        Hello.<br />
        I’m Fullstack developer Lloyd Jefferson.
      </h1>
    </div>
    <div class="hero-social">
      <ul class="hero-social-list">
        <li class="hero-social-item">
          <a
            class="hero-link"
            target="_blank"
            rel="nofollow noopener noreferrer"
            href="https://www.instagram.com/goitclub/"
            >IG</a
          >
        </li>
        <li class="hero-social-item">
          <a
            class="hero-link"
            target="_blank"
            rel="nofollow noopener noreferrer"
            href="https://www.facebook.com/goITclub/"
            >FB</a
          >
        </li>
        <li class="hero-social-item">
          <a
            class="hero-link"
            target="_blank"
            rel="nofollow noopener noreferrer"
            href="https://www.youtube.com/c/GoIT"
            >YT</a
          >
        </li>
        <li class="hero-social-item">
          <a
            class="hero-link"
            target="_blank"
            rel="nofollow noopener noreferrer"
            href="https://github.com/olha-bezklepchenko/project_JS-TechAchievers"
            >GH</a
          >
        </li>
        <li class="hero-social-item">
          <a
            class="hero-link hero-link-mail"
            href="mailto:lloydjefferson@gmail.com"
            >lloydjefferson@gmail.com</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
