<section class="reviews section" id="reviews">
  <div class="container">
    <h2 class="reviews-title section-title">REVIEWS</h2>

    <div class="swiper reviews-wrapper">
      <ul class="swiper-wrapper reviews-list"></ul>

      <div class="reviews-btn-wrapper">
        <button class="reviews-btn reviews-btn-prev" type="button">
          <svg class="reviews-btn-icon" width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button class="reviews-btn reviews-btn-next" type="button">
          <svg class="reviews-btn-icon" width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
    <!-- /.swiper -->
  </div>
  <!-- /.container -->
</section>
