.covers .container {
    padding: 0;
}

.content {
    width: 100%;
    overflow: hidden;
}

.marquee {
    overflow: hidden;
    font-weight: 600;
    font-size: 34px;
    text-transform: uppercase;
    width: 100%;
    height: 50vh;
    background-image: url(../img/covers/elements_vectors.png);
    background-size: cover;
}

@media screen and (min-resolution: 2dppx),
(min-resolution: 192dpi) {
    .marquee {
        background-image: url(../img/covers/elements_vectors@2x.png);
    }
}

.marquee-inner {
    display: flex;
    transform: rotate(16deg);
}

.marquee-inner:first-child {
    margin-top: -30%;
}

.marquee-line {
    flex-shrink: 0;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    animation-name: marqueeLine;
    animation-duration: 7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

@keyframes marqueeLine {
    from {
        transform: translateX(-20%);
    }

    to {
        transform: translateX(-180%);
    }
}


@media screen and (max-width: 375px) {
    .marquee {
        width: 100%;
    }

    .marquee-line img {
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width: 375px) {
    .marquee {
        width: 375px;
        height: 508px;
    }

    .marquee-line img {
        width: 282px;
        height: 162px;
    }
}

@media screen and (min-width: 768px) {

    .marquee {
        width: 768px;
        height: 960px;
    }

    .marquee-line {
        margin: 30px;
    }

    .marquee-line img {
        width: 544px;
        height: 314px;
    }
}

@media screen and (min-width: 1440px) {

    .marquee {
        width: 1440px;
        height: 960px;
    }

}