/* .faq {
    padding: 32px 16px;
    margin: 0 auto;
} */

.faq-container {
    overflow: visible;

}

.faq-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.4);
    margin-bottom: 32px;
}

.faq-item {
    border-top: 1px solid rgba(250, 250, 250, 0.2);
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
    position: relative;
}



.faq-item-title {
    max-width: 265px;
    font-size: 20px;
    letter-spacing: -0.02em;
    color: #fafafa;
    margin: 20px 0px;

}

/* .faq-item.active .faq-item-title {
    margin-bottom: 24px;
} */



.faq-text {
    overflow: hidden;
    max-width: 343px;
    max-height: 0;
    letter-spacing: -0.02em;
    
}


.faq-btn {
    background-color: transparent;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 100px;
    width: 34px;
    height: 34px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 0px;
}



.faq-btn:hover,
.faq-btn:focus {
    outline: 0;
}

.faq-btn .faq-btn-open {
    transform: rotate(180deg);
}

.faq-btn .faq-btn-open,
.faq-btn .faq-btn-close {
    width: 20px;
    height: 20px;
    stroke: #fafafa;
}

.faq-item .faq-btn .faq-btn-close {
    display: block;
}

.faq-item .faq-btn .faq-btn-open {
    display: none;
}

.faq-item.active .faq-btn .faq-btn-close {
    display: none;
}

.faq-item.active .faq-btn .faq-btn-open {
    display: block;
}

/* -------------------min-width: 768px------------------- */

@media screen and (min-width: 768px) {
    /* .faq {
        padding: 96px 32px; 
    } */

    .faq-item-title {
        max-width: 574px;
        margin-top: 32px;
        margin-bottom: 42px;
       
    }

    .faq-btn {
        top: 32px;
    }

}

/* -------------------min-width: 1440px------------------- */

@media screen and (min-width: 1440px) {
    .faq{
        /* padding-top: 164px;
        padding-bottom: 164px; */
        display: flex;
    }

    .faq-container{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        }

    .faq-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
        }

    .faq-item{
        width: 50%;
        display: block;
        border-bottom: 1px solid rgba(250, 250, 250, 0.2);
        border-top: 1px solid rgba(250, 250, 250, 0.2);   
        }


    .faq-item:nth-child(odd) {
        border-right: 1px solid rgba(250, 250, 250, 0.2);
        }

    .faq-item:nth-child(even){
        padding-left: 32px;
        }


    .faq-btn-odd {
        right: 32px;
        }

}

