.faq-title {
  margin-bottom: 32px;
}

.faq-list {
  display: flex;
  flex-direction: column;
}

.faq-item {
  border-top: 1px solid rgba(250, 250, 250, 0.2);
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  background-color: transparent;
  width: 100%;
  padding: 20px 0;
}
.faq-top-box {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.faq-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  width: 34px;
  height: 34px;
  cursor: pointer;
  outline: 0;
  transition: border-color 250ms linear;
}

.faq-btn:hover {
  border-color: rgba(250, 250, 250, 1);
}

.faq-btn .faq-btn-open {
  width: 20px;
  height: 20px;
  stroke: #fafafa;
  transition: transform 0.2s ease;
}

.faq-panel {
  overflow: hidden;
}

.faq-item.faq-active .faq-top-box {
  margin-bottom: 16px;
}

.faq-item-title {
  max-width: 241px;
}

@media screen and (max-width: 767px) {
  .faq-item:last-child .faq-item-title,
  .faq-item:first-child .faq-item-title {
    max-width: 265px;
  }

  .faq-item:nth-child(5) .faq-item-title {
    max-width: 208px;
  }
}

/* -------------------min-width: 768px------------------- */

@media screen and (min-width: 768px) {
  .faq-item {
    padding: 32px 0;
  }

  .faq-btn {
    width: 40px;
    height: 40px;
  }

  .faq-item-title {
    max-width: 574px;
  }

  .faq-item:last-child .faq-item-title {
    max-width: 485px;
  }
}

/* -------------------min-width: 1440px------------------- */

@media screen and (min-width: 1440px) {
  .faq-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .faq-item {
    width: 50%;
    display: block;
  }

  .faq-item:nth-child(1) {
    order: 1;
    border-right: 1px solid rgba(250, 250, 250, 0.2);
    padding-right: 32px;
  }
  .faq-item:nth-child(2) {
    order: 3;
    border-right: 1px solid rgba(250, 250, 250, 0.2);
    padding-right: 32px;
  }
  .faq-item:nth-child(3) {
    order: 5;
    border-right: 1px solid rgba(250, 250, 250, 0.2);
    padding-right: 32px;
  }
  .faq-item:nth-child(4) {
    order: 2;
    padding-left: 32px;
  }
  .faq-item:nth-child(5) {
    order: 4;
    padding-left: 32px;
  }
  .faq-item:nth-child(6) {
    order: 6;
    padding-left: 32px;
  }
}
