/* Mobile */
.projects-title {
  margin-top: 32px;
  margin-bottom: 32px;
}

/* сховала зайві слайди на екрані */
/* .project-swiper-container {
  overflow: hidden;
} */

.project-swiper-wrapper {
  margin-bottom: 32px;
  display: flex;
}

/* .project-swiper-slide {
  min-width: 100%;
} */

.project-info {
  background: #fafafa;
  padding: 32px;
  border-radius: 24px 24px 0px 0px;
}

.project-tag-list {
  margin-bottom: 96px;

  display: flex;
  width: 100%;
  align-items: flex-start;
  align-content: flex-start;
  gap: 6px;
  flex-wrap: wrap;
}
.project-tag-item {
  display: flex;

  padding: 13px 18px;
  justify-content: center;
  align-items: center;

  border-radius: 60px;
  border: 1px rgba(28, 29, 32, 0.2) solid;
}

.project-tag-item-inf {
  color: #1c1d20;

  letter-spacing: -0.32px;
}
.project-name {
  margin-bottom: 32px;

  color: #1c1d20;

  font-size: 24px;
  line-height: 116.667%;
  letter-spacing: -0.72px;
}
.project-button-link {
  display: inline-flex;

  padding: 13px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: #fafafa;
  font-size: 16px;
  letter-spacing: -0.32px;

  border-radius: 60px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-button-link:focus {
  transform: scale(0.95);
}

.project-visual {
  padding: 100px 16px;
  background-color: #242527;
  border-radius: 0px 0px 24px 24px;
}

.swiper-slide.project-swiper-slide {
  display: flex;
  flex-direction: column;
}

.projects-btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.projects-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  background: none;
  width: 52px;
  height: 52px;
  transition: border-color 250ms linear;
}

.projects-btn:focus {
  border-color: rgba(250, 250, 250, 1);
}

.projects-btn:disabled {
  border-color: rgba(250, 250, 250, 0.2);
}

.projects-btn-icon {
  stroke: #fafafa;
  fill: none;
  transition: transform 250ms linear, stroke 250ms linear;
}

.projects-btn:focus .projects-btn-icon {
  transform: scale(1.2);
}

.projects-btn:disabled .projects-btn-icon {
  stroke: #3b3b3b;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .project-swiper-wrapper {
    margin-bottom: 64px;
  }

  .project-info {
    padding: 64px;
  }

  .project-tag-list {
    margin-bottom: 164px;
  }

  .project-tag-item {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .project-name {
    font-size: 44px;
    line-height: 100%;
    letter-spacing: -1.32px;
  }

  .project-button-link {
    padding: 18px 50px;
  }

  .project-visual {
    padding: 120px 45px;
  }

  .projects-btn-wrapper {
    gap: 20px;
  }

  .projects-btn {
    width: 68px;
    height: 68px;
  }

  .projects-btn-icon {
    width: 32px;
    height: 32px;
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .swiper-slide.project-swiper-slide {
    flex-direction: row;
  }

  .project-info {
    width: 688px;
    border-radius: 24px 0px 0px 24px;
  }

  .project-tag-list {
    margin-bottom: 223px;
  }

  .project-visual {
    padding-right: 37px;
    padding-left: 37px;
    width: 688px;
    border-radius: 0px 24px 24px 0px;
  }

  .projects-btn:hover:not(:disabled) {
    border-color: rgba(250, 250, 250, 1);
  }

  .projects-btn:hover:not(:disabled) .projects-btn-icon {
    transform: scale(1.2);
  }
}
