/* Reset styles */
:root {
  font-family: 'Inter Tight', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  color: rgba(250, 250, 250, 0.6);
  background-color: #1c1d20;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border-width: 1px;
  border-top: #1c1d20;
  border-left: #1c1d20;
  border-right: #1c1d20;
  border-bottom-color: rgba(250, 250, 250, 0.2);
  box-shadow: none;
  -webkit-text-fill-color: #fafafa;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

input,
button {
  font: inherit;
  cursor: pointer;
  outline: transparent;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
