/* Mobile */
.reviews-title {
  margin-bottom: 32px;
}

.reviews-list {
  margin-bottom: 32px;
  display: flex;
}

.reviews-list-item {
  padding: 32px 24px;
  flex-basis: 100%;
  flex-shrink: 0;
  min-height: 350px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
}

.reviews-item-img {
  margin-bottom: 32px;
  border-radius: 10px;
}

.reviews-item-title {
  margin-bottom: 8px;
}

.reviews-item-text {
  font-weight: 500;
  color: rgba(250, 250, 250, 0.6);
}

.reviews-btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.reviews-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  background: none;
  width: 52px;
  height: 52px;
  transition: border-color 250ms linear;
}

.reviews-btn:focus {
  border-color: rgba(250, 250, 250, 1);
}

.reviews-btn:disabled {
  border-color: rgba(250, 250, 250, 0.2);
}

.reviews-btn-icon {
  stroke: #fafafa;
  fill: none;
  transition: transform 250ms linear, stroke 250ms linear;
}

.reviews-btn:focus .reviews-btn-icon {
  transform: scale(1.2);
}

.reviews-btn:disabled .reviews-btn-icon {
  stroke: #3b3b3b;
}

.item-message {
  margin: 0 auto;
  font-size: 40px;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .reviews-list-item {
    flex-basis: calc((100% - 16px) / 2);
  }

  .reviews-btn-wrapper {
    gap: 20px;
  }

  .reviews-btn {
    width: 68px;
    height: 68px;
  }

  .reviews-btn-icon {
    width: 32px;
    height: 32px;
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .reviews-list-item {
    flex-basis: calc((100% - 48px) / 4);
  }

  .reviews-btn:hover:not(:disabled) {
    border-color: rgba(250, 250, 250, 1);
  }

  .reviews-btn:hover:not(:disabled) .reviews-btn-icon {
    transform: scale(1.2);
  }
}
