@import 'modern-normalize/modern-normalize.css';
@import url('./fonts.css');
@import url('./reset.css');
@import url('./general.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about-me.css');
@import url('./benefits.css');
@import url('./projects.css');
@import url('./faq.css');
@import url('./covers.css');
@import url('./reviews.css');
@import url('./work-together.css');
@import url('./fast-scroll.css');
